:root {
  --main-title-color: #212121;
  --secondary-title-color: #ffffff;
  --main-text-color: #757575;
  --accent-color: #2196f3;
}
body {
  font-family: "Roboto", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* --------------HEADER------------------- */
.header {
  /* border: 2px dashed #2196f3; */
  /* border: 2px solid #f6f6f6; */
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  display: block;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-logo-part {
  color: #000000;
}

.header-list {
  display: flex;
}

.current {
  position: relative;
}
.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-mail,
.header-tel {
  display: flex;
  fill: currentColor;
  /* vertical-align: middle; */
}
.header-icon {
  margin-right: 10px;
  vertical-align: middle;
}
.header-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-right {
  margin-left: auto;
  display: flex;
}
.header-mail {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  margin-right: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}

.header-tel {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
/* ----------------HERO---------------- */
.hero {
  /* border: 2px dashed #2196f3; */
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
  background-size: 1600px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  padding-bottom: 30px;
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  margin: 0px auto;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 0;
  border: none;
  cursor: pointer;
  /* position: relative;
  left: 50%;
  transform: translate(-50%, 0); */
}

/* --------------PECULIARITIES---------------- */
.peculiarities {
  padding-top: 94px;
  padding-bottom: 94px;
}
.peculiarities-item:not(:last-child) {
  margin-right: 30px;
}

.peculiarities-list {
  display: flex;
}
.peculiarities-fone-img {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
.peculiarities-secondary-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 16px;
}
.peculiarities-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/* ----------------TEAM------------------- */
.team {
  padding-bottom: 94px;
  border-color: #f5f4fa;
  /* border: 2px dashed #2196f3; */
  padding-top: 83px;
  padding-bottom: 94px;
}
.activities-title,
.team-main-title,
.client-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.activities {
  padding-bottom: 105px;
}
.activities-information {
  position: relative;
}
.activities-link-text {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--secondary-title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  bottom: 0;
  left: 0;
  padding-top: 27px;
}

.activities-item:not(:last-child) {
  margin-right: 30px;
}
.activities-title {
  margin-bottom: 50px;
}
.activities-list {
  display: flex;
}
.team-main-title {
  margin-bottom: 50px;
}

.team {
  background-color: #f5f4fa;
}
.team-one-text {
  width: 270px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.team-list {
  display: flex;
  margin-left: -30px;
  flex-wrap: wrap;
}
.team-item {
  flex-basis: calc(100% / 4- 30px);
  margin-left: 30px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-secondary-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.team-secondary-title {
  padding-bottom: 10px;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}
.socials-list {
  display: flex;
  justify-content: center;
}
.socials-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
}
.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: #ffffff;
}
.socials-item:not(:last-child) {
  margin-right: 10px;
}
.socials-item {
  width: 44px;
  height: 44px;
}
.socials-icon {
  fill: #afb1b8;
}

/* ----------------CLIENT-------------- */
.client {
  padding-top: 94px;
  padding-bottom: 94px;
}
.client-main-title {
  margin-bottom: 50px;
}
.client-list {
  display: flex;
  justify-content: center;
}
.client-item:first-child {
  margin-left: -30px;
}
.client-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-color: #ffffff;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover,
.client-link:focus {
  border: 1px solid var(--accent-color);
}
.client-link:hover .client-logo,
.client-link:focus .client-logo {
  fill: var(--accent-color);
}
.team-list {
  display: flex;
  margin-left: -30px;
  flex-wrap: wrap;
  align-items: center;
}
.client-link {
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
  background-color: #ffffff;
  width: 170px;
  height: 92px;
}

.client-logo {
  fill: #afb1b8;
}

/* ----------------FOOTER-------------- */
.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.footer-logo-part {
  color: #ffffff;
}
.contact-address-item {
  margin-bottom: 9px;
}
.contact-address {
  margin-top: 20px;
}
.contact-address-map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
}
.contact-address-mail,
.contact-address-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  display: block;
}
.footer-information {
  display: flex;
}
.footer-socials-list {
  display: flex;
}
.footer-socials-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--accent-color);
}

.footer-socials-icon {
  fill: #ffffff;
}
.footer-socials-item {
  width: 44px;
  height: 44px;
}

.footer-socials-item:not(:last-child) {
  margin-right: 10px;
}
.footer-address {
  margin-right: 70px;
}

.footer-title-icon {
  margin-right: 93px;
}
.subscription-form:not(:last-child) {
  display: flex;
  justify-content: right;
  margin-right: 10px;
}
.footer-title,
.footer-title-subscription {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 15px;
}
.footer-title-subscription {
  display: block;
}

.online-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  background: transparent;
  outline: none;
  padding-left: 16px;
  color: #ffffff;
  margin-right: 12px;
}
.subscription-btn {
  content: "";
  width: 200px;
  height: 50px;
  border-radius: 4px;
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
  position: absolute;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  text-align: center;
  padding: 0;
  border: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 250px;
  justify-content: center;
  text-align: center;
}
.subscription-form {
  position: absolute;
  margin-bottom: 20px;
}
.online-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  font-weight: calc(20 / 16);
  color: rgba(117, 117, 117, 0.5);
}

/* -------------FILTR-------------------- */
.button-projects-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.button-projects-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  height: 38px;
  border-radius: 4px;
  margin-right: 8px;
  padding: 0;
  border: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-all {
  width: 73px;
  height: 38px;
}
.button-web {
  width: 128px;
  height: 38px;
}
.button-app {
  width: 145px;
  height: 38px;
}
.button-dis {
  width: 103px;
  height: 38px;
}
.button-mark {
  width: 130px;
  height: 38px;
}
.button-projects-btn:hover,
.button-projects-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ------------------PROJECTS------------- */

.projects-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 3 - 30px);
  margin-right: -30px;
  margin-bottom: -30px;
}
.projects-item {
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-item:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects-card {
  padding: 20px 24px;
  border: 2px solid #f6f6f6;
}
.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  margin-bottom: 4px;
}
.projects-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}
.projects-link {
  display: block;
}

.card-overlay {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--secondary-title-color);
  padding: 62px 24px;
  overflow: auto;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  font-style: normal;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-item:hover .overlay,
.projects-link:focus .overlay {
  transform: translateY(0%);
}

/* ------------------MODAL WINDOW------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  padding: 40px;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.close-btn:focus,
.close-btn:hover {
  fill: var(--accent-color);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ------------------MODAL WINDOW STYLE------------- */

.modal-title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: var(--main-title-color);
  margin-bottom: 12px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  align-self: center;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  border-radius: 4px;
  padding: 0;
  border: none;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-label {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
  color: var(--main-text-color);
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}
.modal-form-field {
  position: relative;
  display: block;
  margin-top: 4px;
}
.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/icon\ check.svg);
  background-size: contain;
  background-origin: border-box;
  border: #2196f3;
}
.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  border: 2px solid rgba(33, 150, 243, 0.9);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-checkbox-label::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 1.8px solid #212121;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8.4px;
}
.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--main-text-color);
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  padding-left: 11px;
}
.modal-form-label-link {
  color: var(--accent-color);
}
